body{
  background-color: violet;
  /* background-image: url(chef.jpg); */
}
header{
  font-style: oblique;
  font-size: 30px;
  text-decoration-line: overline;
  text-decoration-color: yellow;
  color: rgb(236, 25, 60);
}
div{
  display: flex;
  
}
p{
  margin-left: -200px;
}